PROWLARR_URL=http://192.168.1.154:9696
PROWLARR_API_KEY=your_prowlarr_api_key_here
ROMARR_URL=http://192.168.1.154:8585
ROMARR_API_KEY=your_romarr_api_key_here
ROMM_URL=http://192.168.1.154:7890
ROMM_CLIENT_ID=your_romm_client_id_here
ROMM_CLIENT_SECRET=your_romm_client_secret_here
QBIT_URL=http://192.168.1.154:8089
QBIT_USER=your_qbit_user_here
QBIT_PASS=your_qbit_pass_here
SABNZBD_URL=http://192.168.1.154:8080
SABNZBD_API_KEY=your_sabnzbd_api_key_here
QUESTARR_URL=http://192.168.1.154:5000
PORT=3001
